@CHARSET "UTF-8";

#about_upper {
	background-color: rgba(255,255,255,0.6);
	width: 469px;
	margin: 10px;
	padding: 10px;
}

#about_lower {
	background-color: rgba(255,255,255,0.6);
	width: 469px;
	margin: 10px;
	padding: 10px;
}