@CHARSET "UTF-8";

@font-face {
	font-family: LinBio;
	src: url("../res/LinBiolinum_R.woff");
}

@font-face {
	font-family: LinLib;
	src: url("../res/LinLibertine_R.woff");
}

h1 {
	position: absolute;
	color: #c68328;
	top: 50%;
	left: 50%;
	width: 281px;
	height: 90px;
	margin-left: -403px;
	margin-top: -343px;
	
  	font-size: 90px;
  	font-family: LinLib;
}

#h1_logo {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 70px;
	height: 70px;
	margin-left: -165px;
	margin-top: -331px;	
	
	background-image: url("../res/logo_70.png");
}

.main_box { 
	position: absolute;
  	border: 2px solid #74552e;
  	top: 50%;
  	left: 50%;  	
}

#main_background {
	position: absolute;
	top: 50%;
  	left: 50%;  	
	width: 800px;
	height: 500px;
	margin-left: -400px;
	margin-top: -250px;
	background-image: url("../res/background.png");
	background-repeat: no-repeat;
}

#main_left {
	width: 281px;
	height: 500px;
	margin-left: -402px;
	margin-top: -252px;
}

#main_right {
	width: 509px;
	height: 500px;
	margin-left: -111px;
	margin-top: -252px;
}

#left_upper {
	border: 0px;
	background-color: rgba(255,255,255,0.6);
	width: 260px;
	height: 200px;
	margin-left: -390px;
	margin-top: -240px;
}

#left_lower {
	border: 0px;
	background-color: rgba(255,255,255,0.6);
	width: 260px;
	height: 200px;
	margin-left: -390px;
	margin-top: -230;
}